<div class="row">
    <form name="bookingForm" class="well col-sm-4"
          ng-submit="bookingForm.$valid && $ctrl.addBooking(booking)" novalidate>
        <fieldset>
            <legend>Book now!</legend>
            <div class="form-group">
                <label for="owner" class="sr-only">Owner:</label>
                <input type="text" class="form-control" id="owner" placeholder="Select owner" required/>
            </div>
            <div class="form-group">
                <label for="from" class="sr-only">From:</label>

                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                    <input type="text" class="form-control" id="from" ng-model="$ctrl.booking.from"
                           ng-click="$ctrl.openFrom()"
                           uib-datepicker-popup is-open="$ctrl.datePickerFrom.opened" placeholder="From..." required/>
                </div>
            </div>
            <div class="form-group">
                <label for="to" class="sr-only">To:</label>

                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                    <input type="text" class="form-control" id="to" ng-model="$ctrl.booking.to"
                           ng-click="$ctrl.openTo()"
                           uib-datepicker-popup is-open="$ctrl.datePickerTo.opened"
                           placeholder="To..." required/>
                </div>
            </div>
            <div class="form-group">
                <label for="partySize" class="control-label sr-only">Party size:</label>

                <select id="partySize" class="form-control" ng-model="$ctrl.booking.partySize"
                        ng-options="n for n in [] | range:1:12" required>
                    <option value="" disabled selected>Choose a party size...</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default center-block" value="Submit"/>
            </div>
            <div class="form-group">
                <p>{{bookingForm.$valid}}</p>
            </div>
        </fieldset>
    </form>
</div>